doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Pagina Web
		script(src="/socket.io/socket.io.js")
	body
		nav
			ul
				li
					a(href="/app")
						|	Inicio
				li
					a(href="/app/imagenes/new")
						|	Subir nueva imagen
				li
					a(href="/app/imagenes")
						|	Mis Imágenes
		block contenido