extends ../../layout.pug
block contenido
	h1
		|	Listado de Imagenes:
	div
		for imagen in imagenes
			h2
				|	#{imagen.title}
			a(href="/app/imagenes/"+imagen._id+"/edit")
				|	Editar
			form(action="/app/imagenes/"+imagen._id+"?_method=DELETE", method="POST")
				input(type="submit", value="Eliminar")